<div id="<%= dom_id article %>" class="mb-10">
  <%= link_to article, class: "flex flex-col w-full" do %>
    <h3 class="text-2xl font-medium text-slate-800">
      <%= article.title %>
    </h3>
    <p class="text-sm text-slate-500"><%= article.created_at.strftime('%B %d, %Y') %></p>

    <div class="mt-3 text-lg text-slate-700">
      <%= article.content %>
    </div>
  <% end %>
</div>
