<article class="center-content">
  <h1 class="text-3xl sm:text-4xl md:text-6xl text-center font-bold text-slate-800 mb-4 mt-10">
    <%= @article.title %>
    <% if user_signed_in? %>
      <%= link_to edit_article_path(@article) do %>
        <%= image_tag('icons/edit-icon.svg', class: 'ml-3 inline') %>
      <% end %>
    <% end %>
  </h1>
  <time datetime="<%= @article.created_at %>" class="text-center text-sm text-slate-500 mb-10"><%= @article.created_at.strftime('%B %d, %Y') %></time>

  <div class="text-lg text-slate-700 flex justify-center">
    <div class="w-4/5">
      <%= @article.content %>
    </div>
  </div>
</article>
