<%= turbo_frame_tag 'user' do %>
  <%= form_for current_user, url: users_url, html: { class: 'flex flex-col items-center', 'data-controller': 'user-edit' } do |f| %>

    <img data-user-edit-target="imgPhoto" class="bg-current rounded-full w-20 h-20" src="<%= photo_url %>" />
    <%= f.file_field :photo, hidden: true, data: { action: 'user-edit#changeImgSrc' }, class: 'mt-3 text-lg font-semibold' %>

    <div class="flex justify-center mt-3 mb-3">
      <div class="text-sm hover:font-semibold hover:cursor-pointer" data-action="click->user-edit#selectNewPhoto">Change photo</div>
    </div>

    <%= f.text_field :name, class: 'border-slate-300 rounded-2xl' %>
    <%= f.text_field :email, class: 'border-slate-300 rounded-2xl mt-2' %>

    <div class="mt-4"> New password </div>

    <%= f.password_field :password, class: 'border-slate-300 rounded-2xl mt-2' %>

    <div class="w-full flex justify-end mt-5">
      <%= link_to 'Back', users_url, class: 'btn-secondary mr-3' %>
      <%= f.submit 'Save', class: 'btn-primary' %>
    </div>

  <% end %>

<% end %>
