<nav class="my-5">
  <ul class="flex justify-center">
    <li class="<%= active_nav_bar_class %> hover:cursor-pointer"><%= link_to 'All posts', root_path %></li>

    <% @global_categories.each do |c| %>
      <li class="<%= active_nav_bar_class(c.name) %> ml-5 hover:font-semibold hover:cursor-pointer"><%= link_to c.name, articles_path(category: c.name) %></li>
    <% end %>

    <% if user_signed_in? %>
      <li class="ml-5 hover:font-semibold hover:cursor-pointer">
        <%= link_to categories_path do %>
          <%= image_tag('icons/edit-icon.svg', class: 'ml-3 inline') %>
        <% end %>
      </li>
    <% end %>
    <!--    <li class="ml-5 hover:pointer flex">-->
    <%#= image_tag 'icons/find-icon.svg', class: 'mr-1' %>
    <!--      Find-->
    <!--    </li>-->
  </ul>
</nav>