<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-roboto">
    <header class="w-full py-1 px-5 flex bg-gradient-to-r from-violet-700 to-emerald-500 flex flex-col">
      <%= render 'users/user' %>
    </header>
    <main class="grid grid-cols-2
                    sm:grid-cols-4
                    md:grid-cols-6
                    lg:grid-cols-8
                    xl:grid-cols-12
                    gap-x-2 min-h-screen">
      <%= yield %>
    </main>
  <%= render ' shared/footer' %>
  </body>
</html>
