<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #FCFEFF">
    <main class="grid grid-cols-2
                sm:grid-cols-4
                md:grid-cols-6
                lg:grid-cols-8
                xl:grid-cols-12
                w-screen gap-x-2">
      <% if controller.controller_name.eql?('articles') %>
        <header class="col-span-2
                       sm:col-span-4
                       md:col-auto md:col-start-3 md:col-end-5
                       lg:col-start-3 lg:col-end-7
                       xl:col-start-4 xl:col-end-10
                       p-5 flex flex-col">
          <div class="flex flex-col items-center">
            <div class="bg-current rounded-full w-20 h-20"></div>
            <div class="mt-3 text-lg font-semibold">Pedro Augusto</div>
            <a href="#" class="mt-1 text-blue-500 italic">Why I write this blog</a>
          </div>
        <%= render ' shared/nav' %>
        </header>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
